@import "colors.css";

:root {
  --border-radius: 0.78rem;
  --element-padding: 0.5rem 1rem;
  --container-padding: 2rem;
  --transition-duration: 0.1s;
  --font-size: 1rem;
}

.label {
  font-weight: bold;
  animation: fadeIn var(--transition-duration) ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input-box {
  padding: var(--element-padding);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  background-color: var(--background-color);
  animation: fadeIn var(--transition-duration) ease;
  transition: border-color var(--transition-duration) ease;
}

.input-box:hover {
  border-color: var(--primary-color);
}

.input-box:focus {
  outline: none;
  border-color: var(--primary-color);
}

.button {
  padding: var(--element-padding);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-size: var(--font-size);
  background-color: var(--background-color-darker);
  animation: fadeIn var(--transition-duration) ease;
  transition: background-color var(--transition-duration) ease;
}

.button:hover {
  background-color: var(--background-color-darkest);
}