@import "../../font.css";
@import "../../header.css";
@import "../../globals.css";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.user-add-container {
  padding: 2rem;
  max-width: 600px;
}

.user-add-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}