@import "../font.css";
@import "../header.css";
@import "../globals.css";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.table-container {
  margin: 2rem;
  border: 1px solid var(--background-color-dark);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.product-table {
  width: 100%;
  border-radius: var(--border-radius);
  padding: 1rem;
  background-color: var(--background-color-darker);
  border-collapse: collapse;
}

.product-table th {
  text-align: left;
}

.product-table td, th {
  padding: 1rem 1rem;
  border: 0px;
}

.product-table tbody tr {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Background color should oscillate between rows */
.product-table tbody tr:nth-child(odd) {
  background-color: var(--background-color-dark);
}

.product-table tbody tr:hover {
  background-color: var(--background-color-darkest);
}