@import "../font.css";
@import "../header.css";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.table-container {
  margin: 2rem;
  border-radius: 0.5rem;
  background-color: var(--background-color-dark);
  padding: 1rem;
}

.table-container {
  border-radius: 0.5rem;
  background-color: var(--background-color-dark);
  padding: 1rem;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#add-product {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--quaternary-color);
  color: var(--background-color);
  cursor: pointer;
}

.product-table {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--background-color-darker);
  overflow-x: auto;
  border-collapse: collapse;
  border-width: 0px;
}

.product-table th {
  text-align: left;
}

.product-table td, th {
  padding: 1rem 1rem;
  border: 0px;
}

/* Background color should oscillate between rows */
.product-table tbody tr:nth-child(odd) {
  background-color: var(--background-color-dark);
}

.product-table tbody tr:hover {
  background-color: var(--background-color-darkest);
}