@import "../font.css";
@import "../header.css";
@import "../globals.css";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.alert {
  color: var(--alert-color);
  font-weight: bold;
}

.warning {
  border-radius: var(--border-radius);
  background-color: var(--warning-color);
  padding: 1rem;
  margin-bottom: 2rem;
}

.warning-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 0.5rem;
}

.admin-tools {
  justify-content: right;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0rem;
}

@media (max-width: 600px) {
  .admin-tools {
    justify-content: center;
  }
}

.admin-container {
  padding: 2rem;
}

@media (max-width: 600px) {
  .admin-container {
    padding: 0.5rem;
  }
}

.table-container {
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  padding: 1rem;
}

.product-table {
  width: 100%;
  border-radius: var(--border-radius);
  padding: 1rem;
  background-color: var(--background-color-darker);
  overflow-x: auto;
  border-collapse: collapse;
  border-width: 0px;
}

.product-table th {
  text-align: left;
}

.product-table td, th {
  padding: 1rem 1rem;
  border: 0px;
}

.product-table tbody tr {
  border-bottom: 1px solid var(--background-color-dark);
  transition: background-color 0.3s ease;
}

/* Background color should oscillate between rows */
.product-table tbody tr:nth-child(odd) {
  background-color: var(--background-color-dark);
}

.product-table tbody tr:hover {
  background-color: var(--background-color-darkest);
  cursor: pointer;
}